<ion-header>
  <ion-toolbar color="danger">
    <ion-title>backyardigans</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content color="medium">
  <ion-button fill="outline" color="light" size="small" routerLink="">Voltar</ion-button>
  <ion-card color="dark">
    <ion-card-header routerLink="/backyardigans">
      <img src="https://image.tmdb.org/t/p/w130_and_h195_bestv2/fmyVA1aEUzeP7IKwyHgpZm6OPQn.jpg">
    </ion-card-header>

    <ion-item color="dark">
      <h1>Backyardigans<span> (2004) </span></h1>
    </ion-item>
    <ion-item color="medium">
      <div class="info ion-text-center">
        <p>Kids & animação</p>
        <span class="duração"> 25m </span>
      </div>
      <div slot="end" class="c100 p90 small green">
        <span>90%</span>
        <div class="slice">
          <div class="bar"></div>
          <div class="fill"></div>
        </div>
      </div>
    </ion-item>
    <ion-item color="dark">
      <div>
        <h2>Sinopse</h2>
        <p>Conheça estes cinco amigos animais que adoram cantar, dançar e usar a imaginação para ir a lugares mágicos e
          embarcar em aventuras incríveis.</p>
      </div>
    </ion-item>
    <ol class="people no_image">
      <div class="profile">
        <h4>Janice Burgess</h4>
        <p class="character">Criação</p>
      </div>
    </ol>
  </ion-card>
</ion-content>