<ion-header>
  <ion-toolbar color="danger">
    <ion-title>
      Séries
    </ion-title>
  </ion-toolbar>
</ion-header>


  <ion-content color="dark">
    <div class="banner">
      <div class="info-banner">
  <h2>Outer Banks</h2>
  <p>2020 &nbsp;&nbsp; 16 &nbsp;&nbsp; 1 temporada</p>
  <Ion-Button color="danger" size="small">ASSISTIR</Ion-Button>
  <Ion-Button fill="outline" color="light" size="small">EPISÓDIOS</Ion-Button>
  </div>
    </div>
  
      <ion-grid>
        <h1>Populares</h1>
        <ion-row>
          <ion-col routerLink="/blindspot">
            <img src="https://image.tmdb.org/t/p/w220_and_h330_face/fx3SId5m3j77BOM4YJ0veJwsraq.jpg">
          </ion-col>
          <ion-col routerLink="/friends">
            <img src="https://image.tmdb.org/t/p/w220_and_h330_face/f496cm9enuEsZkSPzCwnTESEK5s.jpg">
          </ion-col>
        </ion-row>
    
      
        <h1>Próximas estréias</h1>
        <ion-row>
          <ion-col>
            <img src="https://image.tmdb.org/t/p/w220_and_h330_face/9D55Xyfn3sF6T94SMnWTROj8b8i.jpg">
          </ion-col>
          <ion-col>
            <img src="https://image.tmdb.org/t/p/w220_and_h330_face/eFUrBaqrypHEHeRGJxuZt3650oQ.jpg">
          </ion-col>
        </ion-row>
    
        <h1>Mais bem avaliadas</h1>
        <ion-row>
          <ion-col>
            <img src="https://image.tmdb.org/t/p/w220_and_h330_face/2ZqeAvj4l3mZhit4DhT4pAJ0xfs.jpg">
          </ion-col>
          <ion-col>
            <img src="https://image.tmdb.org/t/p/w220_and_h330_face/1Uhoi348GEg4DObGrVLNUqtKtdu.jpg">
          </ion-col>
        </ion-row>
    
    
      </ion-grid>
    </ion-content>
    