<ion-header>
  <ion-toolbar color="danger">
    <ion-title>
      Séries
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content color="medium">

  <ion-card color="dark">
    <ion-card-header>
      <img src="https://image.tmdb.org/t/p/w533_and_h300_bestv2/u7G2G7jrBfHfIyj8ifzkq8I4tq3.jpg">
    </ion-card-header>

    <ion-item color="dark">
      <h1>Blindspot<span> (2015) </span></h1>
    </ion-item>
    <ion-item color="medium">
      <div class="info ion-text-center">
        <span class="tipo">TV-14</span><span class="duração"> 43m </span>
        <p>Ação, crime & drama</p>
      </div>
    </ion-item>
    <ion-item color="dark">
      <div>
        <h2>Sinopse</h2>
        <p>Blindspot conta a história de um agente do FBI que, misteriosamente, se vê em meio a uma conspiração. A
          história começa quando Jane Doe (Jaimie Alexander), completamente sem memória, é encontrada nua no meio da
          Times Square, em Nova York, com o corpo coberto de tatuagens recentes. E uma dessas tatuagens é o nome do
          agente do FBI Kurt Weller (Sullivan Stapleton). Agora, ele terá que desvendar os mistérios: Quem é esta mulher
          e o que significam suas tatuagens?</p>
      </div>
    </ion-item>
  </ion-card>

  <ion-card color="dark">
    <ion-card-header>
      <img src="https://image.tmdb.org/t/p/w533_and_h300_bestv2/l0qVZIpXtIo7km9u5Yqh0nKPOr5.jpg">
    </ion-card-header>

    <ion-item color="dark">
      <h1>friends<span> (1994) </span></h1>
    </ion-item>
    <ion-item color="medium">
      <div class="info ion-text-center">
        <span class="tipo">TV-14</span><span class="duração"> 25m </span>
        <p>Comédia & drama</p>
      </div>
    </ion-item>
    <ion-item color="dark">
      <div>
        <h2>Sinopse</h2>
        <p>Seis jovens são unidos por laços familiares, românticos e, principalmente, de amizade, enquanto tentam vingar
          em Nova York. Rachel é a garota mimada que deixa o noivo no altar para viver com a amiga dos tempos de escola
          Monica, sistemática e apaixonada pela culinária. Monica é irmã de Ross, um paleontólogo que é abandonado pela
          esposa, que descobriu ser lésbica. Do outro lado do corredor do apartamento de Monica e Rachel, moram Joey, um
          ator frustrado, e Chandler, de profissão misteriosa. A turma é completa pela exótica Phoebe. </p>
      </div>
    </ion-item>
  </ion-card>

</ion-content>