<ion-header >
  <ion-toolbar color="danger">
    <ion-title>
      Desenhos
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content color="dark">
   <ion-list>
    <ion-item lines="full" routerLink="/backyardigans">
      <ion-thumbnail slot="start">
        <img src="assets/backyardigans.jpg">
      </ion-thumbnail>
      <ion-label>
        Backyardigans
      </ion-label>
      <div slot="end" class="c100 p90 small green">
        <span>90%</span>
        <div class="slice">
          <div class="bar"></div>
          <div class="fill"></div>
        </div>
      </div>
    </ion-item>

      <ion-item lines="full" routerLink="/scooby-doo">
        <ion-thumbnail slot="start">
          <img src="assets/scooby.png">
        </ion-thumbnail>
        <ion-label>
          Scooby doo
        </ion-label>
        <div slot="end" class="c100 p95 small green">
          <span>95%</span>
          <div class="slice">
            <div class="bar"></div>
            <div class="fill"></div>
          </div>
        </div>
    </ion-item>

    <ion-item lines="full">
      <ion-thumbnail slot="start">
        <img src="assets/demais.jpg">
      </ion-thumbnail>
      <ion-label>
        Três Espiãs Demais
      </ion-label>
      <div slot="end" class="c100 p92 small green">
        <span>92%</span>
        <div class="slice">
          <div class="bar"></div>
          <div class="fill"></div>
        </div>
      </div>
  </ion-item>

  <ion-item lines="full">
    <ion-thumbnail slot="start">
      <img src="assets/ben.jpg">
    </ion-thumbnail>
    <ion-label>
      Ben 10
    </ion-label>
    <div slot="end" class="c100 p85 small green">
      <span>85%</span>
      <div class="slice">
        <div class="bar"></div>
        <div class="fill"></div>
      </div>
    </div>
</ion-item>

<ion-item lines="full">
  <ion-thumbnail slot="start">
    <img src="assets/p.jpg">
  </ion-thumbnail>
  <ion-label>
    Pantera Cor-de-Rosa
  </ion-label>
  <div slot="end" class="c100 p76 small green">
    <span>76%</span>
    <div class="slice">
      <div class="bar"></div>
      <div class="fill"></div>
    </div>
  </div>
</ion-item>
   </ion-list>
  
</ion-content>
